@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --color-1: #221F1F;
    --color-2: #221F1F;
    --color-3: #221F1F;
    --color-contrast: #F7F7A6;
    --color-contast-purple: #FF007F;
    --color-bd-text: #f5f5dc;
    
  

    --font-default: "Poppins", sans-serif;
  
    --shadow:   
        0 0px 15px 0 rgba(0, 0, 0, 0.384),
        0 2px 10px 0 rgba(0, 0, 0, 0.486); 
  } 

/* globais */

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: linear-gradient(to bottom, var(--color-1), var(--color-2), var(--color-3), var(--color-1), var(--color-2), var(--color-1));
    color: white;
    font-family: var(--font-default);
}
header{
    display: flex;
    align-items: center;
    width: 100%;
}
.header-ul{
    display: flex;
    list-style: none;
}
.header-ul a{
    text-decoration: none;
    color: white;
}
.header-ul a:hover{
    border-bottom: 2px solid var(--color-contrast);
}
.curriculo-link{
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 1.4em;
    position: relative;
    margin: 50px auto;
}
#initial-page-icon{
    align-self: flex-end;
    width: 98%;
}
.scroll-icon{
    transition: transform 1s ease-in;
    animation: pulse-animation 1s infinite;
    color: #F7F7A6;
}

.download-icon{
    transition: transform 0.3s ease;
    animation: pulse-animation 1s infinite;
}
#python-icon{
    width: 100%;
    height: 100px
}
.curriculo-link{
    border: 1px solid var(--color-contast-purple);
    border-radius: 20px;
}

#my-name{
    font-size: 2em;
}

@keyframes pulse-animation {
    0% {
        transform: translateY(-15px);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 1;
    }
}

.header-ul li{
    padding: 30px;
}

.title{
    font-size: 2em;
}
#intro-container{
    min-height: calc(90dvh - 90px);
    margin-top: 0px;
    justify-content: center;
    flex-wrap: wrap;

}
section{
    padding: 50px;
    display: flex;
    align-items: center;
    min-height: 100dvh;
    justify-content: center;
}

.section-title{
    font-size: 3.5em;
    color: var(--color-contrast);
}
.title-line{
    display: inline-block; 
    width: 100px; 
    height: 2px; 
    width: 70%;
    background-color: var(--color-contrast); 
    margin-left: 10px; 
}

#section-project .job-card-container:nth-child(odd),
#section-project .job-card-container:nth-child(even) {
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
}
#section-project .job-card-container:nth-child(odd) {
    transform: translateX(-100%);
}
#section-project .job-card-container:nth-child(even) {
    transform: translateX(100%);
}

#section-project .job-card-container:nth-child(odd).show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}

#section-project .job-card-container:nth-child(even).show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}

.hidden{
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.3s;
}




/* my infos */
#name{
    font-size: .9em;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.my-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}
.arrow-container{
    width: 100%;
    margin-top: 50px;
}

.my-info{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.right-container{
    display: flex;
    justify-content: center;
}
.my-infos-container{    
    display: flex;
    font-size: 1.1em;
    display: flex;
    justify-content: space-around;
    width: 50vw;
}
.title-main{
    display: flex;
    width: 50%;
    text-align: end;
    text-align: end;
    justify-content: center;
    flex-direction: column;

}
.my-description{
    display: flex;
    width: auto;
    flex-direction: column;

}


.my-stacks{
    font-size: 3em;
    padding: 0px;
    margin: 0px;
    text-align: left;
    color: var(--color-contrast);

}

.my-picutre-container{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.my-picture{
    display: flex;
    justify-content: center;
    width: 30vw;
    border-radius: 20px;
    align-items: center;
    overflow: hidden;
  
}
.profile-img{   
    width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
}


/* sobre */

#about-section{
    flex-wrap: wrap;
    max-width: 100%;
    overflow-x: hidden;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-desc{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about-title{
    width: 100%;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    
}

.minha-jornada span{
    color: var(--color-contrast);
    font-weight: 800;
    font-size: 1.1em;
}


.minha-habilidades{
    text-indent: 50px;
}
.more{
    width: 70%;
    margin-bottom: 100px;
}
.my-text{
    font-size: 1.1em;
}

/* stacks */
.grid-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stacks-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    align-items: center;
}   
.card {
    border-radius: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    color: white;
    border: 1px solid var(--color-bd-text);
}

.stack-ttile{
    color: var(--color-contrast);
}

.stacks-container :nth-child(2){
    transition-delay: 400ms;
}

.stacks-container :nth-child(3){
    transition-delay: 700ms;
}


.card-ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.card-ul li{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    justify-items: start;
    max-width: 158px;

}

.card h2 {
    margin-top: 0;
}

.card p {
    margin: 10px 0 0;
}

.icons-svg{
    padding: 8px;
    width: 50px;
    height: 50px;
}
.curriculo-container{
    width: 200px;
    border-radius: 20px;
    border: .5px solid var(--color-contrast);
}
.curriculo-wrapper{
    width: 100%;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-card-icon{
    width: 20px;
    height: 20px;
    color: var(--color-contrast);
}
.button {
    margin: 0px;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1.3rem;
    border-radius: 0.3rem;
    font-weight: 600;
    background-color: var(--color-1);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

  }
  
  .button .text {
    position: absolute;
    transition: 0.4s ease-in-out;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  
  .svg {
    transform: translateY(-20px) rotate(30deg);
    opacity: 0;
    width: 2rem;
    transition: 0.4s ease-in-out;
  }
  
  .button:hover {
    background-color: rgb(50, 50, 50);
  }
  
  .button:hover .svg {
    display: inline-block;
    transform: translateY(0px) rotate(0deg);
    opacity: 1;
  }
  
  .button:hover .text {
    opacity: 0;
  }
  
  .button:active {
    scale: 0.97;
  }

/* projetos */
#section-project{
    flex-wrap: wrap;
    overflow-x: hidden;
}

.job-card-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 200px;
}

.job-card{
    display: flex;
    width: auto; 
    max-width: 1500px; 
    border-radius: 8px;
    overflow: hidden;
    transition: green .3s;
    position: relative;
}

.job-img-container{
    flex: 0 0 60%; 
    overflow: hidden;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card-image{
    width: 100%;
    height: auto;
    display: block;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}
.card-more-info {
    position: absolute;
    width: 60%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(217, 217, 217, 0.548);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateY(100%);
    transition: transform 0.7s ease-in-out;
    max-width: 900px;
    border-radius: 20px;
    font-size: 1.2em;
    text-align: center;
}
.more-info-desc a{
    text-decoration: underline;
    font-style: italic;
    font-size: 1.4em;
    color: black;

}
.card-tecs-container{
    display: flex;
    align-items: center;
    gap: 20px
}

.job-img-container:hover .card-more-info {
    transform: translateY(0);
}





.job-description{
    color: white;
    padding: 20px;
}
.job-title{
    color: var(--color-contrast);
    font-size: 2.5em;
}
.job-tecs span{
    color: var(--color-contast-purple);
    font-weight: 800;
    font-size: 1.1em;
}
.deploy-link{
    color: var(--color-contrast);
    text-decoration: none;
}


/* contact, footer */
footer{
    background-image: linear-gradient(to bottom, var(--color-1), black, black)
}


#footer-section{
    padding: 0px;
    margin: 0px;
    min-height: 90dvh;
}
.icons-contact{
    width: 40px;
    height: 40px;
    padding: 10px;
}

.more-container{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.more-title{
    width: 100%;
    font-size: 3.5em;
}

.more-contact, .more-text{
    display: flex;
    align-items: center;
}

.contact-section{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    min-height: 0px;
    align-items: center;
}
.contact-list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0px;
    padding: 50px 0px;

}
.contact-list li{
    font-style: italic;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 260px;
    padding: 20px;
}
.contact-list a:hover{
    border-bottom: solid 1px var(--color-contrast);
}

.contact-list li a{
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    section{
        flex-wrap: wrap;
        padding: 0px;
    }
    .my-infos-container, .my-description{
        width: 100%;
        margin-top: 50px;
    }
    .my-infos-container p{
        width: 100%;
        text-align: center;

    }
    .header-ul li{
        padding: 15px;
    }
    .header-ul{
        padding: 0px;
        overflow: hidden;
    }
    .my-picutre-container{
        width: 100%;
    }
    .my-stacks{
        font-size: 2.5em;
    }
    #sobre-link{
        display: none;
    }
    #my-picutre-container{
        width: 100%;
    }
    .more-container{
        flex-wrap: wrap;
    }

}
@media (max-width: 1000px) {
    .job-card{
        flex-wrap: wrap;

    }
    .job-img-container{
        flex: 0 0 100%;
    }
    .card-more-info{
        width: 100%;
        position: sticky;
    }
    .stacks-container{
        max-width: auto;
        padding: 0px;
    }
    .my-picutre-container{
        width: 50%;
    }
    .my-picture{
        width: auto;
    }
    .title-main{
        width: 100%;
    }
 
    .card-more-info{
        display: none;
    }


}


@media (max-width: 1200px) {
    .card-image{
        height: 100%;
    }
}